h2, div {
    text-align: center;
}

a {
    border: 1px solid #252525;
    display: inline-block;
    text-decoration: none;
}

#border {
    margin: auto;
    padding: auto;
    width: 50%;
}

iframe {
    width: 280px;
    height: 280px;
}